.page {
  height: 100vh;
}

.container {
  display: flex;
  padding: 8rem 4rem;
  display: flex;
  gap: 5rem;
  height: 93vh;
}

.subNav {
  padding: 1rem 4rem;
  background-color: rgba(10, 10, 10, 0.95);
  width: 100%;
  position: fixed;
}

.subNav a {
  color: #fff;
  transition: all 0.3s;
}

.subNav a:hover {
  color: #aaa;
}

.imgBox {
}

.infoBox {
  overflow-y: scroll;
}

.infoBox h2 {
  color: #fff;
}

.nick {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.nick ul {
  display: flex;
  gap: 1rem;
}

.about {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 2rem;
}

.birth {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
