.page {
  height: 100vh;
  margin: 0 auto;
  max-width: 170rem;
}

.container {
  display: flex;
  padding: 8rem 4rem;
  display: flex;
  gap: 5rem;
  height: 93vh;
}

.subNav {
  padding: 1rem 4rem;
  background-color: rgba(10, 10, 10, 0.95);
  width: 100%;
  position: fixed;
}

.subNav a {
  color: #fff;
  transition: all 0.3s;
}

.subNav a:hover {
  color: #aaa;
}

.infoBox {
  overflow-y: scroll;
}
.imgBox img {
  height: 40rem;
  width: 30rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}
.flexBox {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}
.imgBoxSmall {
  display: none;
}
.imgBoxSmall img {
  height: 15rem;
}

.infoBox h2 {
  color: #fff;
}

.nick {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.nick ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.about {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 2rem;
}

.birth {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1000px) {
  .nick {
    gap: 0;
  }
  .nick ul {
    row-gap: 0;
  }
}

@media only screen and (max-width: 700px) {
  .imgBox {
    display: none;
  }
  .imgBoxSmall {
    display: block;
  }
}
