.section {
  width: 100%;
  overflow: hidden;
}

.layout {
  height: auto;
}

.link {
  color: #fff;
  transition: all 0.3s;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.link:hover {
  color: var(--clr-btn);
}
