.section {
  width: 100%;
  overflow: hidden;
}

.layout {
  height: auto;
}

.link {
  color: #fff;
  transition: all 0.3s;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.link span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  color: var(--clr-hover);
}
