.formBox {
  background-color: var(--clr-btn-tint);
  padding: 2rem;
  width: 40%;
  font-size: 1.4rem;
  color: rgb(175, 104, 6);
}
.form {
  background-color: rgb(255, 237, 205);
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}
.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.formControl input {
  padding: 0.8rem;
  outline: none;
  border: none;
}
.formAction {
  display: flex;
  flex-direction: column;
}

.msg {
  font-size: 1.2rem;
}

.msg a {
  color: rgb(175, 104, 6);
  text-decoration: underline;
}

.form h2 {
  text-align: center;
  margin-bottom: 2rem;
}
