.dropdown {
  position: absolute;
  background-color: rgba(255, 237, 205, 0.95);
  width: 90%;
  top: 3rem;
  overflow-y: scroll;
  height: 70vh;
  z-index: 10;
}

.dropdown a {
  color: black;
  font-size: 1.4rem;
  transition: all 0.3s;
  padding: 1rem;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid var(--clr-btn);
}

.dropdown a:hover {
  background-color: var(--clr-btn);
}

@media only screen and (max-width: 1000px) {
  .dropdown {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .dropdown {
    top: 6rem;
    width: 98%;
  }
}
