.mainNav {
  background-color: var(--clr-secondary);
  color: #fff;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170rem;
  margin: 0 auto;
}

.searchIcon {
  display: none;
}
.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.mainNav svg {
  transition: all 0.3s;
}

.mainNav svg:hover {
  color: var(--clr-btn);
}

.smallScreen {
  display: none;
}
.normalScreen {
  width: 100%;
}

.backdrop {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  top: 6rem;
  left: 0;
  z-index: 9;
}

@media only screen and (max-width: 700px) {
  .menu {
    display: block;
  }
  .searchIcon {
    display: block;
  }
  .smallScreen {
    display: block;
  }
  .normalScreen {
    display: none;
  }
}
