.item {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.infoBox {
  flex: 2;
  color: #bbb;
  text-align: center;
}

.imgBox {
  flex: 2;

  text-align: center;
}

.item.rounded .imgBox img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.item .imgBox img {
  border-radius: 1rem;
  height: 25rem;
}
