.item {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.infoBox {
  flex: 2;
  color: #bbb;
  text-align: center;
}

.imgBox {
  flex: 2;
  position: relative;
  text-align: center;
}

.item.rounded .imgBox img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.item .imgBox img {
  border-radius: 1rem;
  height: 25rem;
  width: 100%;
  object-fit: cover;
}
.hoverElement {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 50%;
  height: 25rem;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  border: 2px solid rgb(255, 215, 0);
  transform: translateX(-50%);
}

.item.rounded .hoverElement {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 50%;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  border: 2px solid rgb(255, 215, 0);
  transform: translateX(-50%);
}

.hoverBtn {
  color: #fff;
  background-color: rgba(255, 215, 0, 0.25);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: all 0.3s;
}

.hoverBtn:hover {
  background-color: rgb(255, 215, 0);
}

.imgBox:hover .hoverElement {
  opacity: 1;
  visibility: visible;
}
