.content {
  padding: 8rem 4rem;
  display: flex;
  gap: 5rem;
  height: 93vh; /* overflow-y: scroll; */
}

.imgBox img {
  height: 40rem;
  border-radius: 1rem;
}

.title {
  color: var(--clr-title);
  font-size: var(--size-main-title);
}
.year {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.desc {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
}

.desc p {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.desc p span {
  display: flex;

  justify-content: center;
  align-items: center;
}
.synopsis {
  font-size: 1.4rem;
  margin: 2rem 0;
  font-style: italic;
}
.genre {
  display: flex;
  gap: 4rem;
}
.genre span {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.genre ul {
  display: flex;
  gap: 1rem;
}

.btnBox {
  display: flex;
  gap: 2rem;
}

.btnBox a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btnBox a span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnBox svg {
  font-size: 2rem;
}
