.container {
  max-width: 170rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.content {
  padding: 8rem 4rem;
  height: 93vh; /* overflow-y: scroll; */
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "image info info info"
    "image btn btn btn"
    "image synopsis synopsis synopsis";
}

.imgBox {
  grid-area: image;
}
.infoBox {
  grid-area: info;
}

.synopsisBox {
  grid-area: synopsis;
}

.imgBox img {
  height: 50rem;
  border-radius: 1rem;
}

.title {
  color: var(--clr-title);
  font-size: var(--size-main-title);
}
.year {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.desc {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
}

.desc p {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.desc p span {
  display: flex;

  justify-content: center;
  align-items: center;
}
.synopsis {
  font-size: 1.4rem;
  margin: 2rem 0;
  font-style: italic;
}
.genre {
  display: flex;
  gap: 4rem;
}
.genre span {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.genre ul {
  display: flex;
  gap: 1rem;
}

.btnBox {
  grid-area: btn;
  display: flex;
  gap: 2rem;

  align-self: center;
}

.btnBox a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btnBox a span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnBox svg {
  font-size: 2rem;
}

@media only screen and (max-width: 1100px) {
  .imgBox img {
    height: 25rem;
  }

  .content {
    padding: 8rem 4rem;
    height: 93vh; /* overflow-y: scroll; */
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "image info info info"
      "image btn btn btn"
      "image btn btn btn"
      "synopsis synopsis synopsis synopsis";
  }
}

@media only screen and (max-width: 500px) {
  .imgBox img {
    height: 25rem;
  }

  .desc {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .content {
    padding: 8rem 4rem;
    height: 93vh; /* overflow-y: scroll; */
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "image info info info"
      "btn btn btn btn"
      "synopsis synopsis synopsis synopsis";
  }

  .container {
    margin-bottom: 15rem;
  }
}
