.item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
}

.info {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.info img {
  height: 6rem;
  width: 5rem;
  flex: 1;
  object-fit: cover;
  object-position: center;
}

.item a {
  color: var(--clr-text);
  transition: all 0.3s;
}

.item a:hover {
  color: var(--clr-hover);
  text-decoration: underline;
}
