.link {
  color: #fff;
  font-style: italic;
  transition: all 0.3s;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.link:hover {
  color: var(--clr-btn-tint);
}

.header {
  display: flex;
  justify-content: space-between;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-right: 2.5rem;
}

.pagination i {
  background-color: var(--clr-btn-tint);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a:hover {
  background-color: var(--clr-btn-shade);
  color: black;
}
