.video {
  background-color: #111;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video iframe {
  width: 50%;
  height: 60vh;
}

.header {
  color: var(--clr-title);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

@media only screen and (max-width: 800px) {
  .video iframe {
    width: 70%;
    height: 60vh;
  }
}

@media only screen and (max-width: 600px) {
  .video iframe {
    width: 90%;
    height: 60vh;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    flex-direction: column;
  }
}
