.video {
  background-color: #111;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video iframe {
  width: 60%;
  height: 70vh;
}

.header {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.subNav {
  text-align: start;
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 4rem;
}

.subNav a {
  color: #fff;
}
