@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-primary: #474f7a;
  --clr-primary-shade: #393f62;
  --clr-primary-tint: #6c7295;
  --clr-secondary: #1f2544;
  --clr-secondary-shade: #191e36;
  --clr-secondary-tint: #4c5169;
  --clr-text-dark: #222;
  --clr-text-normal: #444;
  --clr-text-light: #666;
  --clr-white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  box-sizing: border-box;
  padding: 0rem;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
