@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-primary: #000;
  --clr-primary-shade: #000;
  --clr-primary-tint: #333333;
  --clr-secondary: #261c2c;
  --clr-secondary-shade: #1e1623;
  --clr-secondary-tint: #514956;
  --clr-btn: #fda403;
  --clr-btn-shade: #ca8302;
  --clr-btn-tint: #fdb635;
  --clr-text-dark: #222;
  --clr-text-normal: #444;
  --clr-text-light: #666;
  --clr-white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  box-sizing: border-box;
  padding: 0rem;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#btnBox {
  position: absolute;
  bottom: 5rem;
  left: 4rem;
  width: 50rem;
  display: flex;
}
#btnBox li {
  position: relative;
  flex: 1;
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;
  margin: 0;
}

#btnBox li button {
  width: 60%;
  height: 0;
  background-color: var(--clr-btn-tint);
  border-radius: 1rem;
  transition: all 0.3s;
}

#btnBox li button::before {
  content: "";
}

#btnBox li.slick-active button {
  width: 5rem;
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
